[Unit]
Description=YouTube Music Filesystem for %i
After=network.target
Documentation=https://github.com/astrovm/ytmusicfs

[Service]
Type=simple
User=%i
ExecStartPre=/bin/sh -c 'mkdir -p %h/Music/ytmusic'
ExecStart=/usr/bin/ytmusicfs --mount-point %h/Music/ytmusic
ExecStop=/usr/bin/fusermount -u %h/Music/ytmusic
Restart=on-failure
RestartSec=5
Environment="LANG=en_US.UTF-8"

[Install]
WantedBy=multi-user.target
