include LICENSE
include README.md
include pyproject.toml
include setup.py
include setup.cfg
include requirements.txt

recursive-exclude tests *
recursive-exclude __pycache__ *
recursive-exclude mount *
recursive-exclude .git *
recursive-exclude .github *
recursive-exclude dist *
recursive-exclude build *
recursive-exclude *.egg-info *

# Exclude authentication and cache files
global-exclude oauth*.json
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git*
global-exclude .DS_Store
global-exclude *.swp
global-exclude *.swo
